<?php

return array (
    'dkim' => array (
        'params' => array(
            'd'    => 'example.com', // domain
            'h'    => 'from:to:subject', // headers to sign
            's'    => 'jan2014', // domain key selector
        ),
        'private_key' => 'your private key' // add this in your local.php
    )
);