<?php

return array (
    'dkim' => array (
        'params' => array(
            'd'    => 'example.com', // domain
            'h'    => 'from:to:subject', // headers to sign
            's'    => 'dec2013', // domain key selector
        )
    )
);